@import '../styles/colors.component.scss';
@import '../styles/utils.component.scss';

%input-img-setting{
  display: inline-block;
  margin-right: 0.75rem;
}

.filters{

  &__item{
    min-width: 18rem;
    width: 66%;
    margin-left: 10%;
  }

  &__list-name{
    margin: 0;
    font-weight: 600;
    font-size: 1.125rem;
  }

  &__list {
    list-style-type: none;
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 0 1.4rem;
    padding: 0 0 1.75rem 0;
    border-bottom: 1px solid #D6D6D6;

    &_last-child{
      border: none;
    }
  }
}

:host:last-child ul{
  border: none;
}

